In [1]:
# importing the necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# reading the csv file
df = pd.read_csv("StudentsPerformance.csv")
df.sample(5)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
423,female,group A,some high school,standard,completed,59,85,80
473,female,group D,some high school,standard,none,59,67,61
587,female,group C,bachelor's degree,free/reduced,none,44,63,62
215,male,group B,some high school,standard,completed,84,83,75
744,male,group B,some college,free/reduced,none,55,55,47

# checking the statistical summary of the dataset and Cheching for null and unique values

In [3]:
df.describe()

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

In [ ]:
df.info()

In [ ]:
df.isnull().sum()

In [ ]:
df.nunique()

# EXPLORATORY DATA ANALYSIS

In [4]:
df["gender"].value_counts()

gender
female    518
male      482
Name: count, dtype: int64

In [5]:
df["race/ethnicity"].value_counts()

race/ethnicity
group C    319
group D    262
group B    190
group E    140
group A     89
Name: count, dtype: int64

In [ ]:
df["lunch"].value_counts()

In [ ]:
df["test preparation course"].value_counts()

In [ ]:
df["parental level of education"].value_counts()

In [ ]:
df.groupby("race/ethnicity")["gender"].value_counts()

In [ ]:
df.head()

In [ ]:
df.groupby("lunch")["gender"].value_counts()

In [6]:
df.groupby("race/ethnicity")["parental level of education"].value_counts()

race/ethnicity  parental level of education
group A         some high school               24
                some college                   18
                high school                    18
                associate's degree             14
                bachelor's degree              12
                master's degree                 3
group B         high school                    48
                associate's degree             41
                some high school               38
                some college                   37
                bachelor's degree              20
                master's degree                 6
group C         associate's degree             78
                some college                   69
                high school                    64
                some high school               49
                bachelor's degree              40
                master's degree                19
group D         some college                   67
                associate's degree             50
                some high school               50
                high school                    44
                bachelor's degree              28
                master's degree                23
group E         associate's degree             39
                some college                   35
                high school                    22
                bachelor's degree              18
                some high school               18
                master's degree                 8
Name: count, dtype: int64

In [ ]:
df.groupby("gender")["test preparation course"].value_counts()

In [ ]:
df["math score"].describe()

In [ ]:
df["math score"].value_counts().head()

In [ ]:
df["math score"].max()

In [ ]:
df["math score"].min()

In [ ]:
df[df["math score"] == 100] ["math score"].count()

In [ ]:
df[df["math score"] == 100]

In [ ]:
df[df["math score"] == 0]["math score"].count()

In [ ]:
df[df["math score"] < 50] ["math score"].count()

In [ ]:
math_score_less_than_50 = df[df["math score"] < 50]
math_score_less_than_50.groupby("gender")["math score"].count().sort_values(ascending=False)

In [ ]:
math_score_less_than_50.groupby("race/ethnicity")["math score"].count().sort_values(ascending=False)

In [ ]:
math_score_less_than_50.groupby("parental level of education")["math score"].count().sort_values(ascending=False)

In [ ]:
df[df["math score"] > 50] ["math score"].count()

In [ ]:
math_score_greater_than_50 = df[df["math score"] > 50]
math_score_greater_than_50.groupby("gender")["math score"].count().sort_values(ascending=False)

In [ ]:
math_score_greater_than_50.groupby("race/ethnicity")["math score"].count().sort_values(ascending=False)

In [ ]:
math_score_greater_than_50.groupby("parental level of education")["math score"].count().sort_values(ascending=False)

In [ ]:
df["reading score"].describe()

In [ ]:
df["reading score"].value_counts().head()

In [ ]:
df["reading score"].max()

In [ ]:
df["reading score"].min()

In [ ]:
df[df["reading score"] == 100] ["reading score"].count()

In [ ]:
df[df["reading score"] == 100]

In [ ]:
df[df["reading score"] == 0] ["reading score"].count()

In [ ]:
df[df["reading score"] < 50] ["reading score"].count()

In [ ]:
df[df["reading score"] < 50]

In [ ]:
reading_score_less_than_50 = df[df["reading score"] < 50]
reading_score_less_than_50.groupby("gender")["reading score"].count().sort_values(ascending = False)

In [ ]:
reading_score_less_than_50.groupby("race/ethnicity")["reading score"].count().sort_values(ascending = False)

In [ ]:
reading_score_less_than_50.groupby("parental level of education")["reading score"].count().sort_values(ascending = False)

In [ ]:
df[df["reading score"] > 50] ["reading score"].count()

In [ ]:
df[df["reading score"] > 50]

In [ ]:
reading_score_greater_than_50 = df[df["reading score"] > 50]
reading_score_greater_than_50.groupby("gender")["reading score"].count().sort_values(ascending = False)

In [ ]:
reading_score_greater_than_50.groupby("race/ethnicity")["reading score"].count().sort_values(ascending = False)

In [ ]:
reading_score_greater_than_50.groupby("parental level of education")["reading score"].count().sort_values(ascending = False)

In [ ]:
df["writing score"].describe()

In [ ]:
df["writing score"].value_counts().head()

In [ ]:
df["writing score"].max()

In [ ]:
df["writing score"].min()

In [ ]:
df[df["writing score"] == 100] ["writing score"].count()

In [ ]:
df[df["writing score"] == 100]

In [ ]:
df[df["writing score"] == 0] ["writing score"].count()

In [ ]:
df[df["writing score"] < 50] ["writing score"].count()

In [ ]:
df[df["writing score"] < 50]

In [ ]:
writing_score_less_than_50 = df[df["writing score"] < 50]
writing_score_less_than_50.groupby("gender")["writing score"].count().sort_values(ascending = False)

In [ ]:
writing_score_less_than_50.groupby("race/ethnicity")["writing score"].count().sort_values(ascending = False)

In [ ]:
writing_score_less_than_50.groupby("parental level of education")["writing score"].count().sort_values(ascending = False)

In [ ]:
df[df["writing score"] > 50] ["writing score"].count()

In [ ]:
df[df["writing score"] > 50]

In [ ]:
writing_score_greater_than_50 = df[df["writing score"] > 50]
writing_score_greater_than_50.groupby("gender")["writing score"].count().sort_values(ascending = False)

In [ ]:
writing_score_greater_than_50.groupby("race/ethnicity")["writing score"].count().sort_values(ascending = False)

In [ ]:
writing_score_greater_than_50.groupby("parental level of education")["writing score"].count().sort_values(ascending = False)